<nav class="navbar">
  <div class="navbar-left">
    <span class="navbar-title">StoreApp Admin</span>
  </div>

  <div class="navbar-right">
    <button
      class="navbar-item"
      type="button"
      (click)="onToggleTheme()"
      aria-label="Toggle theme"
    >
      🌓
    </button>
    <ng-container *ngIf="isAuthenticated; else loginBtn">
      <a class="navbar-item" routerLink="/products">Products</a>
      <a class="navbar-item" (click)="onLogout()">Logout</a>
    </ng-container>
    <ng-template #loginBtn>
      <a class="navbar-item" routerLink="/login">Login</a>
    </ng-template>
  </div>
</nav>
