.product-list-container {
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}