.file-label {
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: #339b6a;
  color: #fff;
  transition: background 0.2s;
}

.file-label:hover {
  background: #246d4b;
}

.file-name {
  font-size: 12px;
  margin-top: 6px;
  color: #222;
}

.file-upload input[type="file"]{
  display: none;
}

:host.full-width .file-label {
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}